.cont-flex {
  display: flex;
}

.tob-bar {
  box-shadow: 0px 5px 10px 1px #716b6b;
}

.side-bar {
  padding: 20px;
  border-right: 2px solid #716b6b;
  width: 10%;
  height: 100vh;
}
.item-link {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th {
  background: #74afb9;
  text-align: left;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th,
td {
  border: 2px solid #a0c8cf;
  padding: 12px;
  text-align: center;
}

.btn-delete {
  width: 70%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.btn-delete:hover ,.btn-update:hover {
  background: darkred;
}

.btn-delete:active , .btn-update:active {
  background: #a0c8cf;
}
.btn-update {
  padding: 6px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
