.title-home {
  margin: 3%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px #4d47c3;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: black;
  background: white;
}

.custom-radio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 70px;
  margin: 5px;
  border: 5px solid #4d47c3;
  border-radius: 180px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: large;
  letter-spacing: 1px;
  font-weight: bold;
}

.custom-radio input[type="radio"] {
  display: none;
  align-items: center;
  justify-content: center;
}

.custom-radio.selected {
  background-color: black;
  color: white;
}

.custom-radio:not(.selected) {
  background-color: #4d47c3;
  color: white;
}
