body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  color: white;
  background-image: url("./img/8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 0 0px;
  margin: 0 auto;
}
.register,
.login {
  display: flex;
  align-items: center;
  min-height: 80vh;
  margin: auto;
  margin-right: 9%;
}

.login form {
  width: 500px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin: 3%;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px #4d47c3;
  backdrop-filter: blur(1px);
}
.register form {
  width: 500px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin: 3%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px #4d47c3;
  backdrop-filter: blur(1px);
}
.login input {
  width: calc(100% - 20px);
  background: white;
  color: black;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #a7a3ff;
  outline: none;
}
.register input {
  width: 80%;
  margin-left: 50px;
  background: white;
  color: black;
  padding: 2px;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #a7a3ff;
  outline: none;
}

.register button,
.login button {
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  padding: 10px 50px;
}
.btn {
  display: flex;
}

.register button,
.login button:hover {
  background: #302b90;
  letter-spacing: 1px;
}

.register button,
.login button:active {
  background: black;
}
.text-reg {
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 3px;
}

.error {
  color: #ff0000;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 15px;
  margin-left: 50px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding-left: 32%;
  cursor: pointer;
}
.home {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home form {
  width: 550px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 15px black;
  backdrop-filter: blur(5px);
  letter-spacing: 2px;
}
.home input {
  width: 90%;
  background: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 0px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.home button {
  margin: auto;
  width: 45%;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #4d47c3;
  border: none;
  border-radius: 180px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
.home button:hover {
  background: #302b90;
  letter-spacing: 2px;
}

.home button:active {
  background: black;
}
.state {
  margin-left: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.state select {
  padding: 8px 30px 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: inline-block;
  margin-right: 20px;
}

.state select:focus {
  outline: none;
  border-color: #4d47c3;
}
